# dependencies
node_modules/

# build output
build/
public/build/

# testing
coverage/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
.idea/
.vscode/
*.iml